{#
/**
 * @file
 * Hero Basic.
 *
 * A short color bar hero style with text on left and svg on right.
 *
 * See stable templates/content.node.html.twig for full docs.
 * @see template_preprocess_node()
 *
 */
#}
{# VARIABLES #}
{% set breadcrumb = breadcrumb %}
{% set header = header %}
{% set img = img %}
{% set ts_bg_color = ts_bg_color %}
{% set textStyle = "utility-lg" %}

{% set classes = [
  'hero--basic-'~ pgType,
  ts_bg_color,
]
%}

<div{{ attributes.addClass( classes ) }}>
  <div class="p-site xl:container">
    <div class="pt-2xl pb-md md:py-2xl w-2/3 xl:w-1/2">
      <div class="hidden md:block h6 mb-sm text-md-contrast uppercase">{{ breadcrumb }}</div>
      {% include "@ts_patterns/assets/btns/btn-wayfinding/btn-wayfinding.html.twig" with {
        link_text: "Back to Learn"|t,
        link_url: "/",
        link_classes: "mb-2xl md:hidden text-action"
      } %}
      <h1 class="h1 mb-0 text-high-contrast">{{ header }}</h1>
    </div>
  </div>
</div>

