{% set title = title %}
{% set intro = intro %}
{% set link_url = link_url %}
{% set link_text = link_text %}

{% include '@ts_patterns/assets/blocks/wayfinding-cards/wayfinding-cards.html.twig' with {
  grid_class:grid_class,
  title:title,
  intro:intro,
  link_url:link_url,
  link_text:link_text,
  show_link:show_link,
  bg_color:bg_color,
} %}

<a href="https://github.com/thinkshout/ts_patterns/tree/main/templates/assets/blocks/wayfinding-cards"
   class="btn--copy-template mt-lg" target="_blank">
  {% trans %}Get the code for Wayfinding{% endtrans %}
</a>