{# Buttons
 * Displays the template of the variant selected.
#}

{{ attach_library('ts_motif/ts_btn_wayfinding') }}

 {% include '@ts_patterns/assets/btns/' ~ variant ~ '/' ~ variant ~ '.html.twig' with {
     link_url:link_url,
     link_text:link_text ~ ' ' ~ variant,
     link_attributes:link_attributes
 } %}

<p class="mt-lg">
  <a href="https://github.com/thinkshout/ts_patterns/tree/main/templates/assets/btns/{{ variant }}"
     class="btn--copy-template" target="_blank">
    {% trans %}Get the code for {{ variant }}{% endtrans %}
  </a>
</p>
