{% set title = title %}
{% set intro = intro %}
{% set link_url = link_url %}
{% set link_text = link_text %}
{% set link_attributes = link_attributes %}

<div class="section-title-link mb-lg">
  <div class="sm:flex sm:justify-between sm:items-center">
    {{ title_prefix }}
    <h2 class="h2 text-high-contrast mb-xs">{{ title }}</h2>
    {{ title_suffix }}
    <div>
      {# Div wrapper is needed to keep ajax loader from reflowing the flex. #}
      {% block link %}
        {% include '@ts_patterns/assets/btns/btn-wayfinding/btn-wayfinding.html.twig' with {
          link_url:link_url,
          link_text:link_text,
          link_attributes:link_attributes
        } %}
      {% endblock %}
    </div>
  </div>
  <p class="body-lg mb-md text-high-contrast">{{ intro }}</p>
</div>
