{% set title = title %}
{% set intro = intro %}
{% set link_url = link_url %}
{% set link_text = link_text %}
{% set link_attributes = link_attributes %}

<div class="section-title-link mb-lg">
  <div class="sm:flex sm:justify-between sm:items-center">
    <h2 class="h4 text-accent mb-xs">{{ title }}</h2>
  </div>
  <p class="body mb-md text-high-contrast">{{ intro }}</p>
</div>
