{#
/**
 * @file
 * Hero Fancy (alternative style).
 *
 * A short color bar hero style with text on left and svg on right.
 *
 * See stable templates/content.node.html.twig for full docs.
 * @see template_preprocess_node()
 *
 */
#}

{# @TODO: add if statements around fields that are optional #}
{# VARIABLES #}
{% set pre_header = pre_header %}
{% set header = header %}
{% set img = img %}
{% set text = text %}
{% set back_link_text = link_text ? "Back to Learn"|t : "Back to Learn"|t %}
{% set back_link_url = link_url %}
{% set ts_bg_color = ts_bg_color ? "ts-bg-blue-900" : "ts-bg-blue-900" %}

{% set classes = [
  'hero--fancy-alt',
  ts_bg_color,
]
%}

<div{{ attributes.addClass( classes ) }}>
  <div class="p-site xl:container">
    <div class="py-base md:py-xl w-2/3 xl:w-1/2">
      {# Main Column #}
      <div>
        {% include "@ts_patterns/assets/btns/btn-back/btn-back.html.twig" with {
          link_url:back_link_url,
          link_text: "Back to Learn"|t,
          link_classes: "block mb-sm"
        } %}
        <h1 class="h3 mb-base md:mb-lg text-high-contrast">{{ header }}</h1>
        <div class="hidden md:block body mb-sm text-md-contrast">{{ text }}</div>
        <div class="h6 mb-0 text-accent">{{ tag }}</div>
      </div>
    </div>
  {# @TODO: add image #}
  </div>
</div>

